<h-form id="searchForm" styleClass="ice-skin-rime contentLevelContainer">
  <div class="inputFieldGroup">
    <span class="iceOutTxt headerLabel">Enter Search Criterias</span>
  </div>
  <span class="iceOutTxt kdInputFieldLabel minindented">Filter: </span>
  <h-input-text id="flightFilterInput"
                styleClass="iceInpTxt kdInputField"
                [(ngModel)]="arrivalFilter"
                validatorMessage="Check your input in the field above">
    <f-validate-regex pattern="^[A-Za-zß-üÄ-Ü\.\-\s]*$"></f-validate-regex>
  </h-input-text>
  <h-select-one-menu id="sortOrderSelect" styleClass="iceSelOneMnu"
                     [(ngModel)]="sortOrder"
                     [required]="true" requiredMessage="Enter a Date Sort Order"
                     style="bottom: 3px;position: relative;width: 179px;">
    <f-select-item itemLabel="Select One"
                   [noSelectionOption]="true"></f-select-item>
    <f-select-items [value]="sortOptions"></f-select-items>
  </h-select-one-menu>
  <div class="clear"></div>
  <h-message styleClass="iceMsgError inputFieldLabel"
             for="flightFilterInput" id="searchTermErrorMessage"></h-message>
  <h-message styleClass="iceMsgError inputFieldLabel"
             for="sortOrderSelect" id="sortOrderErrorMessage"></h-message>
  <span class="iceOutTxt iceOutLbl"
        style="font-size: 10px; color: black;">You can search for Arrival locations</span>
  <div class="clear"></div>
  <h-command-button value="Search"
                    style="margin-top:10px;"
                    (action)="searchFlight"
                    styleClass="iceCmdBtn btnOption"
                    id="flightSearchButton"></h-command-button>
</h-form>

<h-form id="datatableForm">
  <h-panel-group layout="block" styleClass="blockArea"
                 style="width:1192px;"
                 [rendered]="searched"
                 id="searchWrapper">
    <h2>Flight Overview</h2>
    <app-flight-column-1 #col1></app-flight-column-1>
    <app-flight-column-2 #col2></app-flight-column-2>
    <app-flight-column-3 #col3></app-flight-column-3>
    <app-flight-column-4 #col4></app-flight-column-4>
    <ace-data-table id="flightsTable" [value]="flights"
                    var="flight" [rows]="10"
                    [paginator]="true" [columns]="[col1, col2, col3, col4]">
    </ace-data-table>
  </h-panel-group>

  <div class="clear"></div>
  <hr/>
  <h-command-button action="/index"
                    value="Back To Home Page"
                    styleClass="iceCmdBtn btnOption"></h-command-button>
</h-form>