<h-form id="searchForm"
        styleClass="ice-skin-rime contentLevelContainer">
  <div class="inputFieldGroup">
            <span
                class="iceOutTxt headerLabel">Enter Search Criterias</span>
  </div>
  <span
      class="iceOutTxt kdInputFieldLabel minindented">Filter: </span>
  <h-input-text id="flightFilterInput"
                styleClass="iceInpTxt kdInputField"
                [(ngModel)]="arrivalFilter"
                validatorMessage="Check your input in the field above">
  </h-input-text>
  <h-message for="flightFilterInput" id="test"></h-message>
</h-form>