<h-select-boolean-checkbox [rendered]="rendered" [id]="simpleId"
                           [converter]="converter" [style]="style"
                           [required]="required"
                           styleClass="iceSelBoolChkbx {{styleClass}}"
                           [converterMessage]="converterMessage"
                           [requiredMessage]="requiredMessage"
                           [validator]="validator"
                           [(ngModel)]="value"
                           [validatorMessage]="validatorMessage">
  <ng-content></ng-content>
</h-select-boolean-checkbox>