<div #panelGroup *ngIf="rendered" [class]="'icePnlGrp ' + styleClass" [id]="id"
     [ngStyle]="style">
  <ng-content></ng-content>
</div>

<ace-tooltip *ngIf="panelTooltip" [id]="panelTooltip" [for]="simpleId"
             [speechBubble]="false" showEffect="slide" hideEffect="slide"
             [showDelay]="200" [hideDelay]="100" position="bottomLeft"
             targetPosition="topRight" [showEffectLength]="200"
             [hideEffectLength]="200" styleClass="icePnlTlTip">
  <ng-container [ngTemplateOutlet]="tooltip.content"></ng-container>
</ace-tooltip>