<ng-template let-flight>
    <h-panel-grid [columns]="2">
      <f-facet>
        <h-command-button value="View"
                          id="viewFlight"
                          [action]="viewFlight(flight)"
                          styleClass="iceCmdBtn btnOption"></h-command-button>
      </f-facet>
      <f-facet>
        <h-command-button value="Book"
                          id="bookFlight"
                          [action]="startBooking(flight)"
                          styleClass="iceCmdBtn btnOption"></h-command-button>
      </f-facet>
    </h-panel-grid>
</ng-template>

<f-facet name="header">
  <span class="iceOutTxt">Action</span>
</f-facet>